html {
    background: #ffffff;
}

body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

p {
    margin: 0px;
}

h3 {
    margin: 0px;
}

header {
    margin: 0;
    padding: 20px;
    position: fixed;
    background: #ffffff;
    width: 100%;
}

footer {
    margin: 0;
    padding: 20px;
    position: fixed;
    background: #f5b7ad;
    width: 100%;
    bottom: 0;
}


.sidebar {
  margin-left: 20px;
  padding: 0;
  width: 150px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  display:table;
  top: 85px
}

.sidebar p {
    margin-bottom:5px;
    margin-top:5px;
}

.sidebar a {
  color: grey;
  padding-bottom: 10px;
  text-decoration: none;
  display:table;
}
 
.sidebar a.active {
  background-color: #ffffff;
  color: #f5b7ad;
}

.sidebar a:hover:not(.active) {
  background-color: #ffffff;
  color: #f5b7ad;
}

div.intro {
    padding: 20px;
    position: fixed;
    background: #ffffff;
  margin-top: 85px;
  height: auto;
}

div.content {
  margin-left: 250px;
  margin-right: 20px;
  padding-top: 95px;
    padding-bottom: 90px;
  height: auto;
    max-width: 110vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

div.column50 {
  float: left;
width: 50%;
    
}

div.column40 {
  float: left;
    width: 40%;
    
}

div.column60 {
  float: left;
    width: 60%;
    
}

/* Clear floats after image containers */
div.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 700px) {
    div.content{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 700px) {

.sidebar {
display:none;
}


}

.topnav {
    display:none;
  overflow:hidden;
  background-color: #f5b7ad;
  position: fixed;
    top: 80px;
    width: 100%;
}

.topnav #myLinks {
  display: none;
}

.topnav p {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    color:grey;
}

.topnav a {
    height: 30px;
    color: grey;
    padding-left: 20px;
    padding-top: 5px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.menu {
  background-color: #ffffff;
  color: grey;
}

@media screen and (max-width: 700px) {

.topnav {
display:block;
}


}


}